extends layout

block content
  h1 Login - #{title}
  p Login to #{title}
  form(method='POST' action='/api/auth/login')
    div.form-group
        label(for='email') Email:
        input#email.form-control(type='email', placeholder='name@email.com' name='email')
    div.form-group
        label(for='pw') Password:
        input#pw.form-control(type='password' name='password')
    button.btn.btn-primary(type='submit') Login
